.main-banner {
  height: 100vh;
}

.main-banner .container {
  padding-top: 44px;
  background-color: #DCE5E2;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-banner .article-main-banner {
  max-width: 588px;
  margin-top: 145px;
  margin-left: 56px;
}

.main-banner .article-main-banner h1 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}

.main-banner .article-main-banner p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 55px;
}

.main-banner .article-main-banner .btn-main-banner {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  width: 170px;
  padding: 14px 53px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 200px;
  display: inline-block;
  margin-bottom: 127px;
}

.main-banner .banner-iphone-pic {
  position: absolute;
  bottom: 0;
  right: 94px;
  display: inline-block;
}

.main-banner .banner-iphone-pic img {
  width: 100%;
  display: inline-block;
}

.header .container .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.header .container .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header .container .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.header .container .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .container #menu-toggle {
  display: none;
}

.header .container .menu-button,
.header .container .menu-button::before,
.header .container .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.header .container .menu-button::before {
  content: '';
  margin-top: -8px;
}

.header .container .menu-button::after {
  content: '';
  margin-top: 8px;
}

.header .container #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.header .container #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

.header .container #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .header .container .menu-button-container {
    display: flex;
  }
  .header .container .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .container #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .container #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .container .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .header .container .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1294px;
  margin: auto;
}

.header {
  margin-bottom: 30px;
  padding: 30px 0 30px 18px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
}

.header nav ul li {
  list-style: none;
}

.header nav ul li:first-of-type {
  margin-right: 15px;
}

.header nav ul li:nth-child(2) {
  margin-left: 15px;
  margin-right: 24px;
}

.header nav ul li:nth-child(2)::after {
  content: '';
  background-image: url(../images/before-pic-new.svg);
  display: inline-block;
  width: 12px;
  height: 8px;
  position: relative;
  top: -1px;
  left: 4px;
}

.header nav ul li:nth-child(3) {
  margin-left: 24px;
  margin-right: 22px;
}

.header nav ul li:nth-child(4) {
  margin-left: 22px;
}

.header nav ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.header .right-nav-bar {
  list-style: none;
  display: flex;
}

.header .right-nav-bar li:nth-child(2) {
  margin-right: 29px;
}

.header .right-nav-bar li:nth-child(1) {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */